[Unit]
Description=Gunicorn instance to serve dndapp
After=network.target

[Service]
User=user
Group=nginx
WorkingDirectory=/home/user/myproject
Environment="PATH=/home/user/pydndapp/venv/bin"
ExecStart=/home/user/pydndapp/venv/bin/gunicorn --workers 3 --bind unix:dndapp.sock -m 007 wsgi:app