<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<title>{% block title %}{% endblock %} - Dectala's DnD App</title>
{% endblock %}
</head>
<body>
<a href="{{ url_for('index') }}">Dec's DnDApp</a>
{% if current_user.is_anonymous %}
<li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
{% endif %}
{% if current_user.is_authenticated %}
<li><a href="{{ url_for('spells.spell_list') }}">Spell list</a></li>
<li><a href="{{ url_for('auth.create_user') }}">Create User</a></li>
<li><a href="{{ url_for('auth.list_users') }}">User List</a></li>
<li><a href="{{ url_for('tasks.list_tasks') }}">Task List</a></li>
<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
{% endif %}
</ul>
Logged in as {{ session['username'] }}(<a href="{{ url_for('auth.change_user_password') }}">Change Password</a>)</p>
{%  block content %}
{% endblock %}
</body>
</html>
