{% extends "base.html" %}
{% block title %}Spell List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        <span class="caret"></span>
        <span class="sr-only">By Class</span>
      </button>
      <ul class="dropdown-menu">
          <li><a class='' href="{{ url_for('spells.spell_list') }}" role="button">All Classes</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Bard') }}" role="button">Bard</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Cleric') }}" role="button">Cleric</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Druid') }}" role="button">Druid</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Paladin') }}" role="button">Paladin</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Ranger') }}" role="button">Ranger</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Sorcerer') }}" role="button">Sorcerer</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Warlock') }}" role="button">Warlock</a></li>
          <li><a class='' href="{{ url_for('spells.spell_list', char_class='Wizard') }}" role="button">Wizard</a></li>
      </ul>
    </div>
        <br />
        <table id="table" class="tablesorter table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>School</th>
                    <th>Page #</th>
                </tr>
            </thead>
            <tbody>
                {% for spell in spells %}
                    <tr><td>
                    {% if verified == True %}
                        <a href=" {{ url_for('spells.spell_desc', spell_name=spell.name) }} ">
                    {% endif %}
                    {{ spell.name }}
                    {% if verified == True %}
                        </a>
                    {% endif %}
                    {% if spell.ritual %}
                        <small>(Ritual)</small>
                    {% endif %}
                    </td><td>{{ spell.level }}</td><td>{{ spell.school }}</td><td>{{ spell.page }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}