{% extends "base.html" %}
{% block title %}{{ spell.name }}{% endblock %}
{% block content %}
{{ spell.name }}
<br />
Pg.{{ spell.page }}
<br />
{% if spell.level == 0 %}
{{ spell.school }} cantrip
{% endif %}
<br />
Casting Time: {{ spell.casting_time }}
<br />
Range:{{ spell.spell_range }}
<br />
Components:
{% if spell.v_comp %}
V
{% endif %}
{% if spell.m_comp %}
,M
{% endif %}
{% if spell.s_comp %}
,S
{% endif %}
<br />
Duration: {{ spell.duration }}
<br />
Damage: {{ spell.damage }}
<br />
Usable by: {{ spell.spell_class }}
<br />
Description:
<br />
{{ spell.description }}
<br />
{% if spell.at_higher %}
At Higher Levels:
<br />
{{ spell.at_higher }}
{% endif %}
</div>
{% endblock %}