{% extends "base.html" %}
{% block title %}Spell List{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
Sort By Class:<br />
<a href="{{ url_for('spells.spell_list') }}">All Spells</a>
<a href="{{ url_for('spells.spell_list', char_class='Bard') }}">Bard</a>
<a href="{{ url_for('spells.spell_list', char_class='Cleric') }}">Cleric</a>
<a href="{{ url_for('spells.spell_list', char_class='Druid') }}">Druid</a>
<a href="{{ url_for('spells.spell_list', char_class='Paladin') }}">Paladin</a>
<a href="{{ url_for('spells.spell_list', char_class='Ranger') }}">Ranger</a>
<a href="{{ url_for('spells.spell_list', char_class='Sorcerer') }}">Sorcerer</a>
<a href="{{ url_for('spells.spell_list', char_class='Warlock') }}">Warlock</a>
<a href="{{ url_for('spells.spell_list', char_class='Wizard') }}">Wizard</a>
<br />
<table id="table" class="tablesorter table">
<thead>
<tr>
<th>Name</th>
<th>Level</th>
<th>School</th>
</tr>
</thead>
<tbody>
{% for spell in spells %}
{% if show_desc == True %}
<tr><td><a href=" {{ url_for('spells.spell_desc', spell_name=spell.name) }} ">{{ spell.name }}</a></td><td>{{ spell.level }}</td><td>{{ spell.school }}</td></tr>
{% else %}
<tr><td>{{ spell.name }}</td><td>{{ spell.level }}</td><td>{{ spell.school }}</td></tr>
{% endif %}
{% endfor %}
</tbody>
</table>
{% endblock %}