{%  extends 'base.html' %}
{% block content %}
Sign in
{% if form.errors %}
{% for field, error in form.errors.items() %}
{% for e in error %}
{{ e }}<br>
{% endfor %}
{% endfor %}
{% endif %}
<form method="POST" action="." accept-charset="UTF-8" role="form">
{{ form.csrf_token }}
{{ form.username.label }} : {{ form.username }}
{{ form.password.label }} : {{ form.password }}
<input type="checkbox" name="remember" value="1"> Remember Me
<button type="submit" name="submit">Sign in</button>
</form>
{% endblock %}
