{%  extends 'base.html' %}
{% block content %}
    <div>
        <div>
            <legend>Sign up</legend>
            <form method="POST" action="." accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}
                {{ render_field(form.username, placeholder="Your Username", autofocus="") }}
                {{ render_field(form.email, placeholder="Your Email Address") }}
                {{ render_field(form.password, placeholder="Password") }}
                {{ render_field(form.access_level, placeholder="Access Level") }}
                <button type="submit" name="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
