{%  extends 'base.html' %}
{% block content %}
    <div>
        <div>
            <legend>Add Task</legend>
            <form method="POST" action="." accept-charset="UTF-8" role="form">
                {{ form.csrf_token }}
                {{ render_field(form.title, placeholder="Title", autofocus="") }}
                {{ render_field(form.description, placeholder="Description") }}
                {{ render_field(form.priority, placeholder="Priority") }}
                <button type="submit" name="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
