{% extends "base.html" %}
{% block title %}Task List{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <table id="table" class="tablesorter table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list %}
                    <tr><td><a href="{{ url_for('tasks.task_view', taskid=task.id) }}">{{ task.title }}</a></td><td>{{ task.description }}</td><td>{{ task.priority }}</td><td>{% if verified == True %}<a href="{{ url_for('tasks.task_del', taskid=task.id) }}">Delete</a>{% endif %}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    {% if verified == True %}
        <br />
        <a href="{{ url_for('tasks.add_task') }}">Add Task</a>
    {% endif %}        
{% endblock %}